<header class="contain-to-grid fixed" id="navbar" data-magellan-expedition>
    <nav class="top-bar" data-topbar data-options="scrolltop:false" role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a>WIRATMIKA</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li data-magellan-arrival="about"><a href="#about">ABOUT</a></li>
                <li data-magellan-arrival="portfolio"><a href="#portfolio">PORTFOLIO</a></li>
                <li data-magellan-arrival="specialities"><a href="#specialities">SPECIALITIES</a></li>
                <li data-magellan-arrival="contact"><a href="#contact">CONTACT</a></li>
            </ul>
        </section>
    </nav>
</header>